.mobileBtn{
  z-index: 5000;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-color: red;
  border-width: 3px;
  background-color: white;
  box-shadow: 0px 0px 20px 5px white;
}